.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__item {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}

.message-error {
  text-align: left;
}

table {
  margin-top: 20px;
  border: 1px solid black;
  border-collapse: collapse;
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
  }
}
