<!-- Sección principal -->
<main class="main-container">
  <!-- Titulo principal -->
  <h2>Registro cliente</h2>
  <!-- Contenedor del form -->
  <form
    class="form-container"
    #clientForm="ngForm"
    (ngSubmit)="submitForm(clientForm)"
  >
    <!-- Contenedor label e input nombre de la empresa -->
    <div class="form-container__item">
      <label for="companyName">Nombre empresa *</label>
      <input
        appInputFormCustom
        id="companyName"
        name="companyName"
        type="text"
        placeholder="Nombre de la empresa"
        required
        [(ngModel)]="clientInfo.companyName.value"
        [hasError]="clientInfo.companyName.hasError"
        [disabled]="isLoading"
      />
    </div>
    <!-- Contenedor label e input nombre de la empresa -->
    <!-- TODO: Arreglar los estilos de los options -->
    <div class="form-container__item">
      <label for="selectTypePerson">Tipo de persona</label>
      <select
        appSelectFormCustom
        name="selectTypePerson"
        [(ngModel)]="clientInfo.selectTypePerson.value"
        [disabled]="isLoading"
      >
        <option value="Persona fisica">Persona física</option>
        <option value="Persona moral">Persona moral</option>
      </select>
    </div>
    <!-- Contenedor label e input nombre del cliente -->
    <div class="form-container__item">
      <label for="clientName">Nombre cliente *</label>
      <input
        appInputFormCustom
        id="clientName"
        name="clientName"
        type="text"
        placeholder="Nombre del cliente"
        required
        [(ngModel)]="clientInfo.clientName.value"
        [hasError]="clientInfo.clientName.hasError"
        [disabled]="isLoading"
      />
    </div>
    <!-- Contenedor label e input apellidos del cliente -->
    <div class="form-container__item">
      <label for="clientLastname">Apellidos del cliente</label>
      <input
        appInputFormCustom
        id="clientLastname"
        name="clientLastname"
        type="text"
        placeholder="Apellidos del cliente"
        [(ngModel)]="clientInfo.clientLastname.value"
        [hasError]="clientInfo.clientLastname.hasError"
        [disabled]="isLoading"
      />
    </div>
    <!-- Contenedor label e input teléfono -->
    <div class="form-container__item">
      <label for="phoNenumber">Teléfono *</label>
      <input
        appInputFormCustom
        id="phoneNumber"
        name="phoneNumber"
        type="text"
        placeholder="Número de teléfono"
        minlength="10"
        maxlength="10"
        required
        [(ngModel)]="clientInfo.phoneNumber.value"
        [hasError]="clientInfo.phoneNumber.hasError"
        [disabled]="isLoading"
      />
    </div>
    <!-- Contenedor label e input país -->
    <div class="form-container__item">
      <label for="country">País *</label>
      <input
        appInputFormCustom
        id="country"
        name="country"
        type="text"
        placeholder="País"
        required
        [(ngModel)]="clientInfo.country.value"
        [hasError]="clientInfo.country.hasError"
        [disabled]="isLoading"
      />
    </div>
    <!-- Contenedor label e input ciudad -->
    <div class="form-container__item">
      <label for="city">Ciudad</label>
      <input
        appInputFormCustom
        id="city"
        name="city"
        type="text"
        placeholder="Ciudad"
        [(ngModel)]="clientInfo.city.value"
        [hasError]="clientInfo.city.hasError"
        [disabled]="isLoading"
      />
    </div>
    <!-- Contenedor label e input estado -->
    <div class="form-container__item">
      <label for="state">Estado</label>
      <input
        appInputFormCustom
        id="state"
        name="state"
        type="text"
        placeholder="Estado"
        [(ngModel)]="clientInfo.state.value"
        [hasError]="clientInfo.state.hasError"
        [disabled]="isLoading"
      />
    </div>
    <!-- TODO: Hacer checkboz -->
    <!-- Contenedor label e input checkbox suscripción -->
    <div>
      <input
        name="checkboxSubscription"
        id="checkboxSubscription"
        type="checkbox"
        [(ngModel)]="clientInfo.checkBox.value"
        [disabled]="isLoading"
      />
      <label for="checkboxSubscription">Quiero suscribirme al newsletter</label>
    </div>
    <!-- Contenedor label e input correo electronico -->
    <div class="form-container__item">
      <label for="email">Correo electrónico</label>
      <input
        appInputFormCustom
        [disabled]="!clientInfo.checkBox.value"
        id="email"
        name="email"
        type="email"
        placeholder="Correo electrónico"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        [(ngModel)]="clientInfo.email.value"
        [hasError]="clientInfo.email.hasError"
        [required]="clientInfo.checkBox.value"
      />
    </div>
    <!-- Contenedor botón registrarse -->
    <div class="form-container__button">
      <button appBtnprimary type="submit" [isLoading]="isLoading">
        {{ isLoading ? "Registrando" : "Registrarse" }}
      </button>
    </div>
  </form>
  <!-- Mensaje de error -->
  <ul *ngIf="arrayInputErrors.length" class="message-error">
    <li *ngFor="let input of arrayInputErrors">
      Error en el input {{ input.nameInput }} debido a que
      {{ messageError(input.error) }}
    </li>
  </ul>
  <!-- Tabla de clientes registrados -->
  <table *ngIf="arrayClients.length">
    <tr>
      <th>Identificador cliente</th>
      <th>Nombre de la empresa</th>
      <th>Tipo de persona</th>
      <th>Nombre del cliente</th>
      <th>Apellidos del cliente</th>
      <th>Télefono</th>
      <th>País</th>
      <th>Ciudad</th>
      <th>Estado</th>
      <th>Correo electrónico</th>
    </tr>
    <tr *ngFor="let client of arrayClients">
      <td>{{ client.identifier }}</td>
      <td>{{ client.companyName }}</td>
      <td>{{ client.selectTypePerson }}</td>
      <td>{{ client.clientName }}</td>
      <td>{{ client.clientLastname }}</td>
      <td>{{ client.phoneNumber }}</td>
      <td>{{ client.country }}</td>
      <td>{{ client.city }}</td>
      <td>{{ client.state }}</td>
      <td>{{ client.email }}</td>
    </tr>
  </table>
</main>
