<!-- Contenedor principal -->
<div
  class="custom-select"
  (click)="onSelectClick($event)"
  [ngClass]="{
    'custom-select--open': optionsVisible,
    'custom-select--closed': !optionsVisible,
  }"
>
  {{ selectedOption }}
  <!-- Contenedor de las opciones -->
  <div class="custom-select__options" *ngIf="optionsVisible">
    <!-- Opcion del select -->
    <div
      class="custom-select__option"
      (click)="onOptionClick(option)"
      *ngFor="let option of arrayOptions"
    >
      {{ option }}
    </div>
  </div>
</div>
